/* * {
    background-color: white;
} */

h1{
    font-size: 35px;
}



p{ 
    font-size: 20px;
    margin: 25px auto;
    padding: 0 30px;
}

.btn{
    background-color: #12a8a8; 
    border: solid;
    color: white;
    padding: 15px 32px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 16px;
}

input{
    border: none;
    border-bottom: 2px solid black;
    background-color: #12a8a8;
    width: 20%;
    height: 30%;
    margin: 0 10px;
    font-size: 16px;

}

.scores-container{
    text-align: center;
    border: solid;
}

.container{
    text-align: center;
}

.nav-container{
    display: flex;
    justify-content: space-around;
}

.answer-choice{
    font-size: 15px;
    border: 2px solid;
    padding: 10px;
    margin: 10px auto;
    background-color: #12a8a8;
    color: white;
    width: 50%;
}

.submit-container{
    border: 2px solid;
    text-align: center;
    /* background-color: #12a8a8; */
}

/* Utilities */

.align-center{

}
